.profile {
    padding: 20px;
    background: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    flex: 1;
  }
  
  .profile h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .profile p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 10px;
  }
  
  /* Responsivitas */
  @media (max-width: 768px) {
    .profile {
      padding: 15px;
    }
  
    .profile h2 {
      font-size: 20px;
    }
  
    .profile p {
      font-size: 14px;
    }
  }
  