.form {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .formGroup {
    display: flex;
    flex-direction: column;
  }
  
  input,
  textarea {
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    width: 100%;
  }
  
  textarea {
    resize: vertical;
  }
  
  .saveButton {
    background-color: #28a745;
    color: white;
    padding: 10px 15px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .saveButton:hover {
    background-color: #218838;
  }
  
  /* Responsivitas */
  @media (max-width: 768px) {
    .saveButton {
      font-size: 14px;
      padding: 8px 12px;
    }
  }
  